<div>
  <h1 style="text-align: center;">Fin de la experiencia {{ number }}</h1>
  <div class="btn btn-success" onclick="resetExperiences();" style="margin: 0 auto; max-width: 200px; display: block;">Reiniciar experiencias</div>
  <script type="text/javascript">
  $("#experience-previous").attr("disabled", true);
  // Disallow go back
  var htmlOnPreviousButtonPress = function () {
    return -1;
  };
  // Disallow go forward
  var htmlOnNextButtonPress = function () {
    return -1;
  };
  var htmlGetCurrentState = function () {
    return {};
  };
  </script>
</div>